@charset "UTF-8";

/* font-family: "Nanum Gothic", sans-serif;
font-family: "Nanum Brush Script", cursive; */

/* 레이아웃 */
body{
    background: url(https://cdn.pixabay.com/photo/2017/06/13/13/55/marble-2398956_1280.jpg) repeat-x center top;
    background-size: 100% 327px;
}
#header{height: 327px;}
#nav{background-color: #f6fdff;}
#title{background-color: #eaf7fd;}
#main{}
#footer{border-top: 1px solid #dbdbdb;}

/* contents */
#contents{}
#contents .container{
    display: flex;
    border-left: 1px solid #dbdbdb; 
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}
#contents #cont_left{width: 250px;}
#contents #cont_center{
    width: calc(100% - 500px); 
    border-left: 1px solid #dbdbdb; 
    border-right: 1px solid #dbdbdb;
    box-sizing: border-box;
}
#contents #cont_right{width: 250px;}

/* container 가운데(중앙) 영역 */
.container{width: 1200px; margin: 0 auto;}

/* header */
.header{}

.header .header_menu{
    display: flex; justify-content: flex-end; gap: 10px;
    padding-top: 8px;
}
.header .header_menu a{color: #fff;}
.header .header_menu a:hover{color: #ccc;}

.header .header_tit{text-align: center;}
.header .header_tit h1{
    color: #fff;
    background-color: #51b0bc;
    font-size: 25px;
    font-weight: 800;
    display: inline-block;
    padding: 5px 30px;
    margin-top: 55px;
    transition: 0.3s ease-in-out;       
}
.header .header_tit h1:hover{
    box-shadow: inset 172px 0px #258fac,
                inset -172px 0px #258fac;
}
.header .header_tit a{
    color: #fff; background-color: #4a9adf;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    transition: 0.3s;
    margin-top: -7px;
}
.header .header_tit a:hover{
    box-shadow: inset 84px 0px #3a78af,
                inset -84px 0px #3a78af;
}

.header .header_icon{
    margin-top: 40px;
}
.header .header_icon ul{
    display: flex; justify-content: center; gap: 10px;
}
.header .header_icon ul li{position: relative;}
.header .header_icon ul li a{
    color: #fff; font-size: 35px;
    background-color: #3192bf;
    display: inline-block;
    width: 60px; height: 60px;
    border-radius: 50%; 
    text-align: center;
    line-height: 63px;
}
.header .header_icon ul li a i{}
.header .header_icon ul li a span{
    position: absolute; top: -40px; left: 50%; transform: translateX(-50%);
    font-size: 12px;
    background-color: #3192bf;
    line-height: 1.2;
    padding: 3px 9px;
    border-radius: 6px 0;
    transition: 0.3s;
    opacity: 0;
}
.header .header_icon ul li:hover a span{
    top: -30px;
    opacity: 1;
}
.header .header_icon ul li a span::before{
    position: absolute; left: 50%; bottom: -9px;
    content: "";
    border: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

/* nav */
.nav{
    display: flex; padding: 25px 0;
    display: none;
}
.nav>div{width: 40%; float: left;}
.nav>div:last-child{width: 20%;}
.nav>div h3{
    font-size: 18px; color: #25a2d0; 
    font-weight: bold; 
    margin-bottom: 4px;
} 
.nav>div ul{display: flex; flex-wrap: wrap;}
.nav>div ul li{
    position: relative; 
    width: 50%; 
    padding-left: 8px; 
    box-sizing: border-box;}
.nav>div ul li::before{
    content: "";
    position: absolute; top: 9px; left: 0;
    width: 3px; height: 3px;
    background-color: #25a2d0;
}
.nav>div ul li a{position: relative;}
.nav>div ul li a::after{
    content: "";
    position: absolute;
    left: 0; width: 0%; bottom: 0;
    height: 1px;
    background: #25a2d0;
    transition: 0.2s;
    width: 0%;
    /* transform: scale(0); */
    
}
.nav>div ul li:hover a::after{width: 100%; /* transform: scale(1); */}

.nav>div:last-child ul li{width: 100%;}

/* title */

.tit{
    position: relative; text-align: center;
    padding: 5px 0;
}
.tit h2{
    font-family: "Nanum Brush Script", cursive;
    font-size: 40px; color: #0093bd;
}
.tit .btn{
    position: absolute; right: 0; top: 5px;
    /* 가운데 정렬 */
    /* display: grid; place-items: center; */
    /* display: flex; justify-content: center; align-items: center; */
    line-height: 60px;
    width: 60px; height: 60px; 
    border-radius: 50%;
    background-color: #3192bf;
    color: #fff;
    font-size: 35px;
}

/* contents */
.column{
    border-bottom: 1px solid #dbdbdb;
    padding: 15px;   
}
.column .col_tit{
    font-size: 20px; color: #2f7fa6;
    padding: 5px;
}
.column .col_desc{
    color: #878787;
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.column.col3,
.column.col6,
.column.col9{border-bottom: none;}

/* 메뉴 */
.col1 .menu{}
.col1 .menu ul{display: flex;}
.col1 .menu ul li{}
.col1 .menu ul li a{
    display: flex; justify-content: space-between; align-items: center;
    font-size: 16px; color: #878787; 
    text-transform: uppercase; 
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    transition: 0.5s;
}
.col1 .menu ul li a:hover{
    box-shadow: inset 180px 0px rgba(26,130,174,0.9);
    color: #fff;
    background-color: rgba(21, 100, 134, 0.9);
}
.col1 .menu ul li a i{}

/* 게시판1 */
.col2 .notice1{position: relative;}
.col2 h5{font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.col2 .notice1 ul{}
.col2 .notice1 ul li{
    position: relative;
    /* 한줄 줄임말 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.col2 .notice1 ul li::before{
    position: absolute; top: 8px;
    content: ""; 
    background-color: #4492e2;
    width: 3px; height: 3px;
}
.col2 .notice1 ul li a{padding-left: 8px;}
.col2 .notice1 ul li a i{}

.col2 .more{
    position: absolute; top: 5px; right: 0; 
    color: #878787; 
    font-size: 10px;
}
.col2 .more i{}

/* 게시판2 */
.notice2{position: relative;}
.notice2 h5{}
.notice2 ul{}
.notice2 ul li{
    /* 2줄 이상 말줄임말 */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 2줄 이상 말줄임말 */
    position: relative;
    padding-left: 5px;
    margin-bottom: 8px;
}
.notice2 ul li::before{
    content: "";
    width: 3px; height: 3px;
    background-color: #449ce2;
    position: absolute; top: 8px; left: 0;
}
.notice2 ul li a{}

.notice2 .more{}

/* col3 blog2 */
.blog2{margin-top: 15px;}
.blog2 .img-retina{
    background: url(../img/blog1_@1.jpg);
    background-size: cover;
}
.blog2 .img-retina h5{padding: 30px; color: #fff; text-align: center;}
.blog2 p{}

@media only screen and (-webkit-min-device-pixel-ratio:2),
       only screen and (min-device-pixel-ratio:2),
       only screen and (min-resolution:2){
        .blog2 .img-retina{
            background: url(../img/blog3_@3.jpg);
            background-size: cover;
        }
       }

/* 이미지 슬라이드 */
.col4{padding-bottom: 30px;}
.slider{}
.slider .slick-slide{}
.slider .slick-slide figure{position: relative;}
.slider .slick-slide figure img{}
.slider .slick-slide figure figcaption{
    position: absolute; left: 0; bottom: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
}
.slider .slick-slide figure figcaption em{
    display: block;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.9s 0.2s;
}
.slider .slick-slide.slick-active figure figcaption em{
    opacity: 1;
    transform: translateX(0);
}
.slider .slick-slide figure figcaption span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 16px;
    opacity: 0;
    transform: translateX(50px);
    transition: 0.9s 0.4s;
}
.slider .slick-slide.slick-active figure figcaption span{
    opacity: 1;
    transform: translateX(0);
}
.slider .slick-arrow{
    position: absolute;
    z-index: 20;
    bottom: -35px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0;
    background: none;
    color: #5dbdef;
}
.slider .slick-prev{left: 0;}
.slider .slick-prev::before{content: "\f053"; font-size: 30px;}
.slider .slick-next{right: 0;}
.slider .slick-next::after{content: "\f054"; font-size: 30px;}

.slider .slick-dots{
    position: absolute; left: 0; bottom: -20px;
    width: 100%;
    display: flex; justify-content: center; gap: 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 15px; height: 15px;
    background-color: #5dbfeb;
    border-radius: 50%;
    transition: 0.3s;
}
.slider .slick-dots li.slick-active button{
    background-color: #2b91c8; 
    width: 25px; border-radius: 10px;
}

/* col5 square */
.square{display: flex; flex-wrap:  wrap;} 
.square a{
    width: 19%; position: relative; overflow: hidden; margin: 0.5%;
    /* margin과 padding의 %의 기준은 부모의 넓이 */
}
.square a img{width: 100%; display: block;}
.square a em{
    position: absolute; left: 0; bottom: -25px; 
    width: 100%; 
    text-align: center;
    transition: 0.3s;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
.square a:hover em{
    bottom: 0;
}
.square a:nth-child(1):hover img{filter: blur(2px);}
.square a:nth-child(2):hover img{filter: brightness(50%); /* 명도 */}
.square a:nth-child(3):hover img{filter: contrast(10%); /* 대비 */}
.square a:nth-child(4):hover img{filter: grayscale(100%); /* 회색조 */}
.square a:nth-child(5):hover img{filter: hue-rotate(162deg); /* 색조 */}
.square a:nth-child(6):hover img{filter: invert(100%); /* 반전 */}
.square a:nth-child(7):hover img{filter: opacity(50%);}
.square a:nth-child(8):hover img{filter: saturate(150%); /* 채도 */}
.square a:nth-child(9):hover img{filter: sepia(200%); /* 적갈색 */}
.square a:nth-child(10):hover img{filter: sepia(200%) hue-rotate(0deg);}

/* col6 video */
.video{position: relative; width: 100%; padding-bottom: 56.25%;}
.video iframe{position: absolute;  height: 100%; width: 100%; left: 0; top: 0;}

/* col7 3d card */
.card{position: relative; perspective: 600px;}
.card .front{
    position: relative;
    z-index: 2;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.card .front img{display: block;}

.card .back{
    position: absolute; left: 0; top: 0; 
    width: 100%; height: 100%;
    display: grid; place-items: center;
    background-color: #4038dc;
    z-index: 1;
    transform: rotateY(-180deg);
    transition: 0.5s;
    transform-style: preserve-3d;
}
.card .back i{color: #fff; font-size: 30px;}

.card:hover .front{transform: rotateY(180deg);}
.card:hover .back{transform: rotateY(0deg); z-index: 2;}

/* col8 card2 */
.card2{
    position: relative; 
    perspective: 600px;
}

.card2 figure{transform-style: preserve-3d;}
.card2 img{display: block;}
.card2 figcaption{
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%) translateZ(100px); 
    width: 60%;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    padding: 3px 0;
}
.card2 figcaption h3{}

.card2 .front{
    position: relative;
    z-index: 2;
    transition: 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card2 .back{
    position: absolute; left: 0; top: 0; 
    width: 100%; height: 100%;
    display: grid; place-items: center;
    background-color: #4038dc;
    z-index: 1;
    transform: rotateY(-180deg);
    transition: 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card2:hover .front{transform: rotateY(180deg);}
.card2:hover .back{transform: rotateY(0deg); z-index: 2;}

/* card3 */
.card3{position: relative; overflow: hidden;}
.card3 figure{}
.card3 figure img{}
.card3 figure figcaption{
    position: absolute; left: 50%; top: 50%;
    width: 100px; height: 100px;
    transform: translate(200%,-50%) rotate(180deg); 
    background-color: #000; color: #fff; 
    text-align: center; 
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.3s;
}
.card3:hover figure figcaption{transform: translate(-50%,-50%) rotate(0deg);}
.card3 figure figcaption h3{}
.card3 figure figcaption h3 em{display: block;}

/* footer */
.footer{padding: 30px 0;}
.footer ul{display: flex; justify-content: center; gap: 10px;}
.footer ul li{}
.footer ul li a{}
.footer ul li a strong{font-weight: bold;}
.footer address{text-align: center; padding-top: 15px;}





/* ////////////////////// */
@media (max-width:1220px){ /* 화면의 넓이가 1220px보다 작을 때 */
    .container{width: 100%;}
    .row{padding: 0 15px;}
    .header_menu{padding-right: 15px;}
    .tit .btn{right: 5px;}
    .square a{width: 24%;}
    /* 5,10번쨰 지우기 */
    .square a:nth-child(5n){display: none;}
}
@media (max-width:1024px){
    .square a{width: 32.3333%;}
    .square a:nth-child(5){display: block;}
}
@media (max-width:960px){
    .nav>div{width: 100%; float: none;}
    .nav>div:last-child{width: 100%;}
    .nav>div ul li{width: 33.3333%;}
    .nav>div:last-child ul li{width: 33.3333%;}
    #contents .container{flex-wrap: wrap;}
    #contents #cont_right{width: 100%; display: flex; border-top: 1px solid #dbdbdb;}
    .col7, .col8{border-right: 1px solid #dbdbdb; border-bottom: none;}
    #contents .container{border-right: none;}
    #contents #cont_center{border-right: none; width: calc(100% - 250px);}
}
@media (max-width:768px){
    
    #contents #cont_left{width: 100%;}
    #contents #cont_center{width: 100%; border-left:none}
    .footer ul li{width: 48%;}
    .footer ul{flex-wrap: wrap; justify-content: flex-start}
}
@media (max-width:600px){
    #header {height: auto;}
    .header .header_tit {display: none;}
    .header .header_icon{display: none;}
    .tit .btn{display: none;}
    .column.col1 .col_tit{display: none;}
    .column.col1 .col_desc{display: none;}
    .col1 .menu ul li a i{display: none;}
    .col1 .menu ul{display: flex; flex-wrap: wrap;}
    .col1 .menu ul li{width: 33.3333%; border-right: 1px solid #dbdbdb; box-sizing: border-box;}
    .col1 .menu ul li:nth-child(3n){border-right: none;}
    .column.col1{border-bottom: none; padding: 0;}
    .col1 .menu ul li a{justify-content: center;}
    .column.col2{background-color: #fff;}
    .col4{border-top: 1px solid #dbdbdb;}
    #contents #cont_right .column{width: 50%;}
    .column.col9{display: none;}
    .slider .slick-slide figure figcaption{padding: 10px;}
    .slider .slick-slide figure figcaption span{font-size: 14px;}
    .square a{width: 49%;}
    .square a:nth-child(5){display: none;}
    
}
@media (max-width:480px){
    .tit h2{font-size: 10vw;}
}
@media (max-width:320px){
    .square a{width: 100%; margin: 0.5% 0;}
    #contents #cont_right .column{width: 100%;}
    #contents #cont_right{flex-wrap: wrap;}
}